<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "Quem somos",   quem_somos_path %></li>
      <li><%= link_to "Termos de Uso",   termos_de_uso_path %></li>
      <li><%= link_to "Contato", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>